html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;margin:0}
body{color:#051039;font:13px/1.8 Helvetica, Arial, sans-serif;background:#fff;padding:10px 0 0 0;margin:0}
a,a:visited{color:#24a1db;text-decoration:none}
a:hover{text-decoration:underline}
.fb-clear:before,.fb-clear:after,.fb-row:before,.fb-row:after{content:" ";display:table}
.fb-clear:after,.fb-row:after{clear:both}
.lt-ie8 .fb-clear,.lt-ie8 .fb-row{zoom:1}
.fb-hidden{display:none !important;visibility:hidden}
div,p,h1,h2,h3,h4,h5,input,td,tr,ol,ul{margin:0;padding:0}
a img,table{border:0}
p{margin-bottom:1em}
.fb-logo{width:234px}
@media screen and (max-width: 480px){
.fb-logo{width:162px}
}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}
}
.fb-row{width:984px;margin:0 auto;overflow:visible}
.fb-row-indent{padding-left:2.6%;padding-right:2.6%}
.fb-row .fb-grid-span3{width:23.05%}
.fb-row .fb-grid-span4{width:31.6%}
.fb-row .fb-grid-span6{width:48.7%}
.fb-row .fb-grid-span8{width:65.8%}
.fb-row .fb-grid-span9{width:74.35%}
.fb-row .fb-grid-span12{width:100%}
.fb-row .fb-grid-span3,.fb-row .fb-grid-span4,.fb-row .fb-grid-span6,.fb-row .fb-grid-span8,.fb-row .fb-grid-span9,.fb-row .fb-grid-span12{float:left;margin-left:2.6%}
.fb-row .fb-grid-span3:first-child,.fb-row .fb-grid-span4:first-child,.fb-row .fb-grid-span6:first-child,.fb-row .fb-grid-span8:first-child,.fb-row .fb-grid-span9:first-child,.fb-row .fb-grid-span12{margin-left:0}
.fb-grid-span3 .fb-row,.fb-grid-span4 .fb-row,.fb-grid-span6 .fb-row,.fb-grid-span8 .fb-row,.fb-grid-span9 .fb-row,.fb-grid-span12 .fb-row{width:100%}
@media screen and (max-width: 1000px){
.fb-row{width:100%;margin:0}
}
@media screen and (max-width: 700px){
.fb-row .fb-grid-span3,.fb-row .fb-grid-span4,.fb-row .fb-grid-span6,.fb-row .fb-grid-span8,.fb-row .fb-grid-span9,.fb-row .fb-grid-span12{width:100%;margin-left:0}
.fb-row div{margin-bottom:6px}
.fb-row div:last-child{margin-bottom:0}
}
.fb-nav{background:#042453;background:rgba(4,36,83,0.9);color:#fff;padding:5px;margin:0 0 20px 0}
.fb-h1{font-size:36px;margin:0 0 20px 0;padding:0;font-weight:normal;color:#042452}
.fb-h2{font-size:24px;margin:0 0 12px 0;padding:0;font-weight:normal}
.fb-h3{font-size:18px;margin:0 0 12px 0;padding:0;font-weight:normal}
.fb-h4{font-size:16px;margin:0 0 12px 0;padding:0;font-weight:normal;color:#24a1db}
.fb-h5{font-size:13px;margin:0 0 0 0;padding:0;font-weight:bold}
.fb-h1,.fb-h2,.fb-h3,.fb-h4,.fb-h5{font-family:Helvetica, Arial, sans-serif}
.fb-column-text-2{-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:24px;-moz-column-gap:24px;column-gap:24px}
.fb-column-text-3{-webkit-column-count:3;-moz-column-count:3;column-count:3;-webkit-column-gap:24px;-moz-column-gap:24px;column-gap:24px}
@media screen and (max-width: 768px){
.fb-column-text-3{-webkit-column-count:2;-moz-column-count:2;column-count:2}
}
@media screen and (max-width: 480px){
.fb-column-text-2,.fb-column-text-3{-webkit-column-count:1;-moz-column-count:1;column-count:1}
}
.fb-btn{font-family:inherit;font-weight:bold;line-height:1;text-align:center;text-decoration:none;outline:none;padding:0;margin:0 2px 0 0;border:0;display:inline-block;white-space:nowrap;vertical-align:middle;background:transparent;cursor:pointer;box-shadow:0 2px 1px -2px rgba(0,0,0,0.65)}
.fb-btn:hover,.fb-btn:focus{box-shadow:0 2px 1px -2px rgba(0,0,0,0.45);outline:thin}
.fb-btn:active{box-shadow:none}
.fb-btn span{display:inline-block;padding:6px 10px;border-radius:4px;font-size:21px;color:#042452;border:1px #DDE3E7 solid;background:#edf2f7;background:-moz-linear-gradient(top, #fefefe 0%, #edf2f6 33%, #edf2f7 92%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(33%, #edf2f6), color-stop(92%, #edf2f7));background:-webkit-linear-gradient(top, #fefefe 0%, #edf2f6 33%, #edf2f7 92%);background:-o-linear-gradient(top, #fefefe 0%, #edf2f6 33%, #edf2f7 92%);background:-ms-linear-gradient(top, #fefefe 0%, #edf2f6 33%, #edf2f7 92%);background:linear-gradient(to bottom, #fefefe 0%, #edf2f6 33%, #edf2f7 92%);*background:#edf2f7;background:#edf2f7 \9}
::-ms-reveal,::-ms-clear{display:none !important}
.fb-login-wrapper{width:364px}
.fb-login-field{background-color:#fff;border:2px solid #ccc;border-radius:4px;font-size:14px;margin:0 -2px;padding:10px 4%;position:relative;width:92%;-moz-appearance:none;-webkit-appearance:none}
.fb-login-field:focus{border-color:#0088cc;outline:transparent;z-index:2}
.fb-login-field-username{border-bottom-left-radius:0;border-bottom-right-radius:0;margin-bottom:-2px}
.fb-login-field-password{border-top-left-radius:0;border-top-right-radius:0;width:66%;padding-right:30%}
.fb-input-password-wrapper{position:relative}
.fb-input-password-switch{position:absolute;right:5px;top:10px;height:20px;z-index:5;color:#24A1DB;display:none;text-align:right;border:0;background-color:transparent;outline:0;cursor:pointer}
.fb-input-password-switch:hover{text-decoration:underline}
.js-fb-password-show .fb-input-password-switch{display:block}
@media screen and (max-width: 480px){
.fb-login-wrapper{width:90%;margin:0 5%}
.fb-login-field{font-size:16px}
}
.js .fb-img-lazy,.fb-img-reset-me-container{position:relative;height:0;overflow:hidden;display:block}
.fb-img-native,.fb-img-replace-me{width:100%}
.js-fb-img{opacity:1;-webkit-transition:opacity 0.5s ease;-moz-transition:opacity 0.5s;transition:opacity 0.5s}
.fb-img-loading{opacity:0.3;-webkit-transition:opacity 0.5s ease;-moz-transition:opacity 0.5s;transition:opacity 0.5s}
.fb-img-ratio-4-2{padding-bottom:50%}
.fb-img-ratio-16-9{padding-bottom:56.25%}
.fb-img-ratio-3-2{padding-bottom:66.67%}
.fb-img-ratio-4-3{padding-bottom:75%}
.fb-img-ratio-1-1{padding-bottom:100%}
.fb-img-ratio-2-3{padding-bottom:150%}
.fb-img-ratio-3-4{padding-bottom:133%}
.fb-img-ratio-9-16{padding-bottom:177.77%}
.fb-icon-carrier{display:inline-block;background:url("../img/carriers.png") no-repeat 0 30px;height:30px;text-indent:-9999px}
.fb-icon-carrier-KL{background-position:0 0;width:44px}
.fb-icon-carrier-AF{background-position:0 -31px;width:104px}
.fb-icon-carrier-PE{background-position:0 -62px;width:82px}
.fb-icon-carrier-RO{background-position:0 -93px;width:70px}
.fb-icon-carrier-small{position:relative;display:inline-block;background:url("../img/carriers.png") no-repeat 10px 32px;height:20px;text-indent:-9999px;margin-right:5px}
.lt-ie8 .fb-icon-carrier,.lt-ie8 .fb-icon-carrier-small{display:block;float:left}
.fb-icon-carrier-small-KL{background-position:-120px 0;width:32px}
.fb-icon-carrier-small-AF{background-position:-120px -21px;width:70px}
.fb-icon-carrier-small-PE{background-position:-120px -42px;width:70px}
.fb-icon-carrier-small-RO{background-position:-120px -63px;width:52px}
.fb-footer-carriers-wrapper{background:#fff;padding:5px 0;margin:0;color:#000}
.fb-footer-carriers{list-style:none;text-align:center}
.fb-footer-carrier{display:inline;margin-right:10px}
.fb-footer-carrier:last-child{margin-right:0}
.fb-footer-wrapper{background:#4b4b4b url("../img/bg-footer.jpg") repeat-x 0 0;color:#fff;padding:0 10px}
.fb-footer-notice{min-height:170px;padding-top:10px}
.fb-footer-copyright{padding:7px 0}

